/*adds border to elements inside body*/
body * {
	border: solid 1px gray;
}

body {
	margin: 0;
}

#site {
	width: 80%;
	margin: 0 auto;
}

#banner {
	height: 10em;
}

#flex {
	display: flex;
	flex-direction: row;
}

#container {
	display: flex;
	flex-direction: column;
	width: 70%;
}

#navigation, #pizzaList li {
	display: flex;
	justify-content: center;
	list-style: none;
	max-width: 100%;
	
	margin: 0;
}
ul
{
    list-style: none;
    padding: 0;
}

#navigation li {
	width: 10rem;
	height: 3em;
	margin: 1em 1em;
}

.content {
    display: none;
	width: 100%;
	height: 60vh;
}
#home {
    display: block;
}

#basket {
	width: 30%;
}

.pizzaName {
    width: 55%;
}
.pizzaPrice, .pizzaNumber, pizzaRemoveButton {
    width: 15%;
}
