/*selektory od ogółu do szczegółu,
a potem układem na stronie*/
/*adds border to elements inside body*/
body * {
	border: solid 1px gray;
}
body {
	margin: 0;
}

h3 {
    margin: 0;
}

img {
    width: 5rem;
    height: 5rem;
}

ul {
    list-style: none;
    padding: 0;
}

.flex {
	display: flex;
	flex-direction: row;
}

#site {
	width: 80%;
	margin: 0 auto;
}

#banner {
	height: 10em;
}

#container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#navigation {
	display: flex;
	justify-content: center;
	list-style: none;
	max-width: 100%;
	margin: 0;
}
#navigation li {
	width: 10rem;
	height: 3em;
	margin: 1em 1em;
}

#basketList li, #pizzaList li {
	display: flex;
	justify-content: left;
	list-style: none;
	max-width: 100%;
	margin: 0;
}

#pizzaList li {
	margin: 1rem;
}
.pizzaDetails {
	width: 40rem;
}
.pizzaIngredients {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#pizzaList, #orderForm {
	width: 70%;
}

#basketList li {
	flex-direction: row;
}
#basket, #finalBasket {
	width: 30%;
}
.basketName {
    width: 55%;
}
.basketPrice, .basketNumber, .basketRemoveButton {
    width: 15%;
}

#orderForm span {
	color: red;
}

#contact {
	display: block;
}


