<div ng-controller="MainController" class="flex">
    <div class="left">
        <h2>Menu</h2>
        <ul id="pizzaList" >
            <li ng-repeat="pizza in menu | orderBy:'ingredients.length'" class="shadow">
                <div class="pizzaPicture">
                    <img src="../img/icon.png"/>
                </div>
                <div class="pizzaDetails">
                    <h3 class="pizzaTitle">
                        {{pizza.name}}
                    </h3>
                    <div class="pizzaIngredients">
                        <div ng-repeat="ingredient in showIngredients(pizza.ingredients)">{{ingredient}} </div>
                    </div>
                    <div class="pizzaPrice">
                        {{pizza.price | currency}}
                    </div>
                </div>
                <div class="pizzaButtons">
                    <button ng-click="addPizza({id: pizza.id, name: pizza.name, price: pizza.price, quantity: 1})" class="pizzaAddButton shadow">Add</button>
                    <button ng-click="orderPizza(basketView, {id: pizza.id, name: pizza.name, price: pizza.price, quantity: 1})" class="pizzaOrderButton shadow">Order now</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="basket">
        <h2>Basket</h2>

        <ul class="basketList">
            <li class="flex shadow" ng-repeat="pizza in basketView track by $index">
                <div class="basketName">{{pizza.name}}</div>
                <div class="basketPrice">{{pizza.price | currency}}</div>
                <input ng-click="updateTotal()" class="basketNumber" type="number" min="1" value="1" ng-model="pizza.quantity"/>
                <button ng-click="open(pizza)" class="basketCustomiseButton">custom</button>
                <button ng-click="removePizza(basketView, $index)" class="basketRemoveButton">&times;</button>
            </li>
        </ul>

        <div class="total" ng-show="basketView.length > 0">
            Total: {{total | currency}}
        </div>
        <div class="empty" ng-show="basketView.length == 0">
            Your basket is empty
        </div>

        <a ng-show="basketView.length > 0" ui-sref="order"><button id="continueButton"class="shadow">Continue</button></a>
    </div>
</div>

<!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="custom.html">
 <div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title pizzaTitle">Customize: {{pizza.name}}</h3>
        </div>
        <div class="modal-body">
            <p><strong>BASIC:</strong></p>
            <div class="pizzaIngredients basicIngredients">
                <div ng-repeat="ingredient in showIngredients(pizza.ingredients)" ng-class="{removed: clicked}" ng-click="toggleBasic(ingredient)">
                    <button ng-click="clicked=!clicked">
                        {{ingredient}}
                    </button>
                </div>
            </div>
            <p><strong>EXTRA:</strong></p>
            <div class="pizzaIngredients extraIngredients">
                <div ng-repeat="ingredient in ingredients" ng-class="{added: clicked}" ng-click="toggleExtra(ingredient)">
                    <button ng-click="clicked=!clicked">
                        {{ingredient.label}}: {{ingredient.price | currency}}
                    </button>
                </div>
            </div>
            <div class="customPrice">
                Current price: {{total | currency}}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="close('OK')" class="shadow" data-dismiss="modal">OK</button>
            <button type="button" ng-click="close('Cancel')" class="shadow" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
</script>