<div ng-controller="MainController" class="flex">
    <ul id="pizzaList" >
        <li ng-repeat="pizza in menu">
            <img class="pizzaPicture"/>
            <div class="pizzaDetails">
                <h3 class="pizzaTitle">
                    {{pizza.name}}
                </h3>
                <div class="pizzaIngredients">
                    {{pizza.ingredients}}
                </div>
                <div class="pizzaPrice">
                    {{pizza.price}}
                </div>
            </div>
            
            <button ng-click="addPizza({id: pizza.id, name: pizza.name, price: pizza.price, quantity: 1})" class="pizzaAddButton">Add</button>
            
        </li>
    </ul>
    <div id="basket">
        <ul id="basketList" >
            <li class="flex" ng-repeat="pizza in basketView track by $index">
                <div class="basketName">{{pizza.name}}</div>
                <div class="basketPrice">{{pizza.price}}</div>
                <input class="basketNumber" type="number" min="1" value="1" ng-model="pizza.quantity"/>
                <button ng-click="removePizza(basketView, $index)" class="basketRemoveButton">X</button>
            </li>
            

        </ul>
        
    </div>
</div>