<div ng-controller="MainController" class="flex">
    <div class="left">
        <h2>Menu</h2>

        <ul id="pizzaList" >
            <li ng-repeat="pizza in menu">
                <img class="pizzaPicture"/>
                <div class="pizzaDetails">
                    <h3 class="pizzaTitle">
                        {{pizza.name}}
                    </h3>
                    <div class="pizzaIngredients">
                        <div ng-repeat="ingredient in pizza.ingredients">{{ingredient}} </div>
                    </div>
                    <div class="pizzaPrice">
                        {{pizza.price | currency}}
                    </div>
                </div>
                
                <button ng-click="addPizza({id: pizza.id, name: pizza.name, price: pizza.price, quantity: 1})" class="pizzaAddButton">Add</button>
                <a ui-sref="order"><button ng-click="addPizza({id: pizza.id, name: pizza.name, price: pizza.price, quantity: 1})" class="pizzaOrderButton">Order now</button></a>
                
            </li>
        </ul>
    </div>
    <div class="basket">
        <h2>Basket</h2>
        
        <ul id="basketList" >
            <li class="flex" ng-repeat="pizza in basketView track by $index">
                <div class="basketName">{{pizza.name}}</div>
                <div class="basketPrice">{{pizza.price | currency}}</div>
                <input ng-click="updateTotal()" class="basketNumber" type="number" min="1" value="1" ng-model="pizza.quantity"/>
                <button ng-click="removePizza(basketView, $index)" class="basketRemoveButton">X</button>
            </li>
        </ul>
        
        <div ng-show="basketView.length > 0">
            Total: {{total | currency}}
        </div>
        <div ng-show="basketView.length == 0">
            Your basket is empty
        </div>
        
        <a ng-show="basketView.length > 0" ui-sref="order"><button>Continue</button></a>
    </div>
</div>