<div ng-controller="OrderController">
	<form>
		First name:<br/>
		<input type="text" ng-model="client.firstName"/>
		<br/>
		Surname:<br/>
		<input type="text" ng-model="client.surname">
		<br/>
		Phone number:<br/>
		<input type="text" ng-model="client.phoneNumber">
		<br/>
		Address:<br/>
		<input type="text" ng-model="client.address">
		<br/>
		Notes:<br/>
		<input type="text" ng-model="notes">
		<br/>
		<a ui-sref="status">
			<input type="submit" value="Order" ng-click="">
		</a>
	</form>
</div>