<div ng-controller="OrderController" class="flex">
	<div class="left">
		<h2>Finalize order</h2>
		<form name="form" id="orderForm">
			First name:<br/>
			<input type="text" ng-model="client.firstName" name="firstName"/>
			<br/>

			Surname:<br/>
			<input type="text" ng-model="client.surname" name="surname"/>
			<br/>

			Phone number:<br/>
			<input type="text" ng-model="client.phoneNumber" name="phoneNumber" required=""/>
			<br/>
			<div ng-show="form.$submitted || form.phoneNumber.$touched">
				<span ng-show="form.phoneNumber.$error.required">
					We need your number!
				</span>
			</div>

			Address:<br/>
			<input type="text" ng-model="client.address" name="address" required=""/>
			<br/>
			<div ng-show="form.$submitted || form.address.$touched">
				<span ng-show="form.address.$error.required">
					We need your address!
				</span>
			</div>

			Notes:<br/>
			<input type="text" ng-model="notes" name="notes"/>
			<br/>
			<a><input type="submit" value="Order" ng-disabled="form.$invalid" ng-click="order()"></a>
		</form>
	</div>
	<div class="basket">
        <h2>Basket</h2>

        <ul class="basketList" id="finalList">
            <li ng-repeat="pizza in basketView track by $index" class="flex shadow">
                <div class="basketName">{{pizza.name}}</div>
                <div class="basketNumber">{{pizza.quantity}} x</div>
                <div class="basketPrice">{{pizza.price | currency}}</div>
            </li>
        </ul>
        <div class="total">
            Total: {{total | currency}}
        </div>
        <button class="shadow" ng-click="open()">Extras</button>
        <div>
        	<a ui-sref="main"><button id="backButton" class="shadow">Back</button></a>
    	</div>
    </div>
</div>

<!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="extras.html">
 <div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      	<div class="modal-header">
	        <button class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h3 class="modal-title">Add extras</h4>
      	</div>
      	<div class="modal-body">
	    	<ul id="extrasList">
	            <li ng-repeat="item in extras" class="shadow flex">

	                <h4 class="extraTitle">
	                    {{item.label}}
	                </h4>
	                <div class="extraPrice">
	                    {{item.price | currency}}
	                </div>
	                <div class="addExtraButton">
	                    <button ng-click="addExtra({id: pizza.id, name: pizza.name, price: pizza.price, quantity: 1})" class="pizzaAddButton shadow">Add</button>
	                </div>
	            </li>
	        </ul>
      	</div>
      	<div class="modal-footer">
        	<button type="button" ng-click="close('OK')" class="shadow" data-dismiss="modal">OK</button>
        	<button type="button" ng-click="close('Cancel')" class="shadow" data-dismiss="modal">Cancel</button>
      	</div>
    </div>
  </div>
</div>
</script>